Aint_Job.json
{
  "name": "Aint Job",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -80,
        -160
      ],
      "id": "fc90905a-7361-4a84-9704-976709ca3a11",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "LaTex code of my current resume:\n\n\\documentclass[10pt, letterpaper]{article}\n\n% Packages:\n\\usepackage[\n    ignoreheadfoot, % set margins without considering header and footer\n    top=1.8 cm, % reduced margins for more content space\n    bottom=1.8 cm,\n    left=1.8 cm, \n    right=1.8 cm,\n    footskip=1.0 cm,\n    % showframe % for debugging\n]{geometry} % for adjusting page geometry\n\\usepackage{titlesec} % for customizing section titles\n\\usepackage{tabularx} % for making tables with fixed width columns\n\\usepackage{array} % tabularx requires this\n\\usepackage[dvipsnames]{xcolor} % for coloring text\n\\definecolor{primaryColor}{RGB}{0, 0, 0} % define primary color\n\\usepackage{enumitem} % for customizing lists\n\\usepackage{fontawesome5} % for using icons\n\\usepackage{amsmath} % for math\n\\usepackage[\n    pdftitle={Shivam Gaikwad's Resume},\n    pdfauthor={Shivam Gaikwad},\n    pdfcreator={LaTeX},\n    pdfsubject={Software Engineering},\n    pdfkeywords={MERN, Full Stack, React, Node.js, Android, Developer, Software Engineer},\n    colorlinks=true,\n    urlcolor=primaryColor\n]{hyperref} % for links, metadata and bookmarks\n\\usepackage[pscoord]{eso-pic} % for floating text on the page\n\\usepackage{calc} % for calculating lengths\n\\usepackage{bookmark} % for bookmarks\n\\usepackage{lastpage} % for getting the total number of pages\n\\usepackage{changepage} % for one column entries (adjustwidth environment)\n\\usepackage{paracol} % for two and three column entries\n\\usepackage{ifthen} % for conditional statements\n\\usepackage{needspace} % for avoiding page brake right after the section title\n\\usepackage{iftex} % check if engine is pdflatex, xetex or luatex\n\n% Ensure that generate pdf is machine readable/ATS parsable:\n\\ifPDFTeX\n    \\input{glyphtounicode}\n    \\pdfgentounicode=1\n    \\usepackage[T1]{fontenc}\n    \\usepackage[utf8]{inputenc}\n    \\usepackage{lmodern}\n\\fi\n\n\\usepackage{charter}\n\n% Some settings:\n\\raggedright\n\\AtBeginEnvironment{adjustwidth}{\\partopsep0pt} % remove space before adjustwidth environment\n\\pagestyle{empty} % no header or footer\n\\setcounter{secnumdepth}{0} % no section numbering\n\\setlength{\\parindent}{0pt} % no indentation\n\\setlength{\\topskip}{0pt} % no top skip\n\\setlength{\\columnsep}{0.15cm} % set column seperation\n\\pagenumbering{gobble} % no page numbering\n\n\\titleformat{\\section}{\\needspace{4\\baselineskip}\\bfseries\\large}{}{0pt}{}[\\vspace{1pt}\\titlerule]\n\n\\titlespacing{\\section}{\n    % left space:\n    -1pt\n}{\n    % top space:\n    0.25 cm\n}{\n    % bottom space:\n    0.15 cm\n} % section title spacing\n\n\\renewcommand\\labelitemi{$\\vcenter{\\hbox{\\small$\\bullet$}}$} % custom bullet points\n\\newenvironment{highlights}{\n    \\begin{itemize}[\n        topsep=0.05 cm,\n        parsep=0.05 cm,\n        partopsep=0pt,\n        itemsep=0pt,\n        leftmargin=0 cm + 10pt,\n        labelindent=0pt\n    ]\n}{\n    \\end{itemize}\n} % new environment for highlights\n\n\\newenvironment{highlightsforbulletentries}{\n    \\begin{itemize}[\n        topsep=0.05 cm,\n        parsep=0.05 cm,\n        partopsep=0pt,\n        itemsep=0pt,\n        leftmargin=10pt,\n        labelindent=0pt\n    ]\n}{\n    \\end{itemize}\n} % new environment for highlights for bullet entries\n\n\\newenvironment{onecolentry}{\n    \\begin{adjustwidth}{\n        0 cm + 0.00001 cm\n    }{\n        0 cm + 0.00001 cm\n    }\n}{\n    \\end{adjustwidth}\n} % new environment for one column entries\n\n\\newenvironment{twocolentry}[2][]{\n    \\onecolentry\n    \\def\\secondColumn{#2}\n    \\setcolumnwidth{\\fill, 4.5 cm}\n    \\begin{paracol}{2}\n}{\n    \\switchcolumn \\raggedleft \\secondColumn\n    \\end{paracol}\n    \\endonecolentry\n} % new environment for two column entries\n\n\\newenvironment{threecolentry}[3][]{\n    \\onecolentry\n    \\def\\thirdColumn{#3}\n    \\setcolumnwidth{, \\fill, 4.5 cm}\n    \\begin{paracol}{3}\n    {\\raggedright #2} \\switchcolumn\n}{\n    \\switchcolumn \\raggedleft \\thirdColumn\n    \\end{paracol}\n    \\endonecolentry\n} % new environment for three column entries\n\n\\newenvironment{header}{\n    \\setlength{\\topsep}{0pt}\\par\\kern\\topsep\\centering\\linespread{1.3}\n}{\n    \\par\\kern\\topsep\n} % new environment for the header\n\n\\newcommand{\\placelastupdatedtext}{% \\placetextbox{<horizontal pos>}{<vertical pos>}{<stuff>}\n  \\AddToShipoutPictureFG*{% Add <stuff> to current page foreground\n    \\put(\n        \\LenToUnit{\\paperwidth-2 cm-0 cm+0.05cm},\n        \\LenToUnit{\\paperheight-1.0 cm}\n    ){\\vtop{{\\null}\\makebox[0pt][c]{\n        \\small\\color{gray}\\textit{Last updated in February 2025}\\hspace{\\widthof{Last updated in February 2025}}\n    }}}%\n  }%\n}%\n\n% save the original href command in a new command:\n\\let\\hrefWithoutArrow\\href\n\n\\begin{document}\n    \\newcommand{\\AND}{\\unskip\n        \\cleaders\\copy\\ANDbox\\hskip\\wd\\ANDbox\n        \\ignorespaces\n    }\n    \\newsavebox\\ANDbox\n    \\sbox\\ANDbox{$|$}\n\n    \\begin{header}\n        \\fontsize{22 pt}{22 pt}\\selectfont \\textbf{Shivam Gopal Gaikwad}\n\n        \\vspace{3 pt}\n\n        \\normalsize\n        \\mbox{Pune, Maharashtra, India}%\n        \\kern 5.0 pt%\n        \\AND%\n        \\kern 5.0 pt%\n        \\mbox{\\hrefWithoutArrow{mailto:shivam1999.gaikwad@gmail.com}{shivam1999.gaikwad@gmail.com}}%\n        \\kern 5.0 pt%\n        \\AND%\n        \\kern 5.0 pt%\n        \\mbox{\\hrefWithoutArrow{tel:+91-937-014-18-21}{+91-937-014-18-21}}%\n        \\kern 5.0 pt%\n        \\AND%\n        \\kern 5.0 pt%\n        \\mbox{\\hrefWithoutArrow{https://shivamdevfolio.vercel.app/}{shivamdevfolio.vercel.app}}%\n        \\kern 5.0 pt%\n        \\AND%\n        \\kern 5.0 pt%\n        \\mbox{\\hrefWithoutArrow{https://www.linkedin.com/in/shivam-gaikwad/}{linkedin.com/in/shivam-gaikwad}}%\n        \\kern 5.0 pt%\n        \\AND%\n        \\kern 5.0 pt%\n        \\mbox{\\hrefWithoutArrow{https://github.com/aushin19}{github.com/aushin19}}%\n    \\end{header}\n\n    \\vspace{2 pt - 0.3 cm}\n\n    \\section{Professional Summary}\n\n        \\begin{onecolentry}\n            Results-driven \\textbf{Full Stack Developer} with expertise in \\textbf{MERN Stack} (MongoDB, Express.js, React.js, Node.js) and \\textbf{Native Android Development}. 2+ years of experience building responsive web applications, RESTful APIs, and mobile solutions. Strong focus on performance optimization, delivering scalable architecture, and user-centered design. Passionate about leveraging modern technologies including AI integration to solve complex business problems.\n        \\end{onecolentry}\n\n    \\section{Technical Skills}\n\n    \\begin{onecolentry}\n        \\begin{highlightsforbulletentries}\n            \\item \\textbf{Languages}: JavaScript, TypeScript, Java, HTML5, CSS3, SQL, Python\n            \\item \\textbf{Frontend}: React.js, Next.js, React Native, Redux, Zustand, Tailwind CSS, Material UI, Shadcn/UI\n            \\item \\textbf{Backend}: Node.js, Express.js, RESTful APIs, GraphQL, WebSockets\n            \\item \\textbf{Database}: MongoDB, PostgreSQL, Firebase, SQLite\n            \\item \\textbf{DevOps \\& Tools}: Git, GitHub, Docker, Vercel, CI/CD, Jest, Postman, npm\n            \\item \\textbf{AI Integration}: LLMs, LangChain, AI Agents, Prompt Engineering, Gemini API\n            \\item \\textbf{Android}: Java, MVVM Architecture, Material Design 3, Room Database, Firebase\n        \\end{highlightsforbulletentries}\n    \\end{onecolentry}\n\n    \\section{Work Experience}\n\n        \\begin{twocolentry}{Feb 2024 – Present}\n            \\textbf{Software Engineer}, Chartianz -- Pune, Maharashtra\n        \\end{twocolentry}\n\n        \\vspace{0.05 cm}\n        \\begin{onecolentry}\n            \\begin{highlights}\n                \\item Developed and maintained full-stack web applications using \\textbf{React.js, Node.js, and MongoDB} resulting in \\textbf{20\\% faster} page load times.\n                \\item Implemented \\textbf{responsive UI designs} with Tailwind CSS and Shadcn/UI components, improving mobile user engagement by \\textbf{32\\%}.\n                \\item Optimized database queries and implemented caching strategies, reducing API response times by \\textbf{40\\%}.\n                \\item Collaborated with cross-functional teams to define application requirements and deliver solutions on time.\n            \\end{highlights}\n        \\end{onecolentry}\n\n        \\vspace{0.15 cm}\n\n        \\begin{twocolentry}{Mar 2023 – Dec 2023}\n            \\textbf{Software Engineer Intern}, SKAITAS -- Pune, Maharashtra\n        \\end{twocolentry}\n\n        \\vspace{0.05 cm}\n        \\begin{onecolentry}\n            \\begin{highlights}\n                \\item Redesigned UI for Visual Studio open file switcher (Ctrl-Tab) and extended functionality to tool windows, improving developer workflow efficiency by \\textbf{25\\%}.\n                \\item Built \\textbf{RESTful APIs} with Node.js and Express.js that processed over \\textbf{5,000 daily requests}.\n                \\item Implemented \\textbf{authentication and authorization systems} using JWT tokens and role-based access control.\n                \\item Participated in code reviews and agile development processes, contributing to team productivity.\n            \\end{highlights}\n        \\end{onecolentry}\n\n        \\vspace{0.15 cm}\n\n        \\begin{twocolentry}{June 2022 – Dec 2022}\n            \\textbf{Software Engineer Intern}, SKAITAS -- Pune, Maharashtra\n        \\end{twocolentry}\n\n        \\vspace{0.05 cm}\n        \\begin{onecolentry}\n            \\begin{highlights}\n                \\item Reduced user buddy list rendering time by \\textbf{75\\%} through implementation of an advanced prediction algorithm.\n                \\item Developed responsive front-end interfaces using \\textbf{React.js and Material UI} components.\n                \\item Created and maintained \\textbf{comprehensive documentation} for APIs and application features.\n                \\item Troubleshot and resolved \\textbf{cross-browser compatibility issues}, improving user experience across platforms.\n            \\end{highlights}\n        \\end{onecolentry}\n\n    \\section{Projects}\n        \n        \\begin{twocolentry}{\n            \\href{https://github.com/aushin19/YT2Summary}{github.com/aushin19/YT2Summary}\n        }\n            \\textbf{YT2Summary – AI-Powered YouTube Summarization}\n        \\end{twocolentry}\n\n        \\vspace{0.05 cm}\n        \\begin{onecolentry}\n            \\begin{highlights}\n                \\item Architected and developed a full-stack application using \\textbf{MERN stack and Flask microservice} for AI-powered video summarization.\n                \\item Integrated \\textbf{Google Generative AI (Gemini)} for content analysis, reducing video watching time by \\textbf{up to 80\\%}.\n                \\item Implemented \\textbf{yt-dlp} for efficient video processing and transcript extraction with \\textbf{95\\% accuracy}.\n                \\item Created a \\textbf{responsive UI} with React.js that adapts seamlessly across desktop and mobile devices.\n                \\item Deployed with \\textbf{Docker containers} for improved scalability and consistent performance across environments.\n            \\end{highlights}\n        \\end{onecolentry}\n\n        \\vspace{0.15 cm}\n\n        \\begin{twocolentry}{\n            \\href{https://github.com/aushin19/IPO_Check_Kar}{GitHub} \n            \\hspace{0.1 cm} \n            \\href{https://play.google.com/store/apps/details?id=com.chartianz.ipocheckkar}{Google Play}\n        }\n            \\textbf{IPO Check Kar – App for IPO Tracking (1k+ Downloads and 500+ MAU)}\n        \\end{twocolentry}\n\n        \\vspace{0.05 cm}\n        \\begin{onecolentry}\n            \\begin{highlights}\n                \\item Designed and developed a \\textbf{native Android application} for real-time IPO tracking that generates \\textbf{\\$200+ monthly revenue}.\n                \\item Implemented \\textbf{real-time data scraping} from NSE/BSE with JSoup and custom APIs, reducing research time by \\textbf{70\\%}.\n                \\item Built a \\textbf{notification system} for IPO alerts using Firebase Cloud Messaging, increasing user engagement by \\textbf{45\\%}.\n                \\item Optimized app performance for various Android devices, achieving a \\textbf{4.6/5 star rating} on Google Play Store.\n                \\item Utilized \\textbf{MVVM architecture} with Room Database for offline capability and improved user experience.\n            \\end{highlights}\n        \\end{onecolentry}\n\n    \\section{Education}\n\n        \\begin{twocolentry}{Pune - 2023}\n            \\textbf{Master of Computer Applications (MCA)}\n        \\end{twocolentry}\n\n        \\vspace{0.05 cm}\n\n        \\begin{onecolentry}\n            MIT World Peace University - GPA: 3.8/4.0\n        \\end{onecolentry}\n\n        \\vspace{0.15 cm}\n\n        \\begin{twocolentry}{Nashik - 2021}\n            \\textbf{Bachelor of Business Administration - Computer Application (BBA-CA)}\n        \\end{twocolentry}\n\n        \\vspace{0.05 cm}\n\n        \\begin{onecolentry}\n            K.K Wagh Arts, Commerce, Science and Computer Science College - First Class with Distinction\n        \\end{onecolentry}\n\n    \\section{Certifications \\& Additional Skills}\n    \n    \\begin{onecolentry}\n        \\begin{highlightsforbulletentries}\n            \\item \\textbf{AWS Certified Cloud Practitioner} - Amazon Web Services (2023)\n            \\item \\textbf{Advanced React and Redux} - Udemy (2022)\n            \\item \\textbf{Mobile App Development with React Native} - Coursera (2022)\n            \\item \\textbf{Languages}: English (Professional), Hindi (Native), Marathi (Native)\n            \\item \\textbf{Soft Skills}: Problem-solving, Team collaboration, Technical documentation, Time management\n        \\end{highlightsforbulletentries}\n    \\end{onecolentry}\n\n\\end{document}\n\nJob Description:\nAbout the job\nGreetings From TCS!!!\n\n\n\nRole: Java Full Stack Lead\n\nExperience : 5 Years-8 years\n\nLocation : Bengaluru/BBSR/Pune\n\n\n\nJob Description:\n\n1. Expertise in building UI application using HTML, REST, CSS, JSON, JavaScript, AJAX and React\n\n2. Expertise in core Java and object oriented analysis and design\n\n3. In depth knowledge and experience in Java 8 and Java 11 features such as Lambdas, Streams, Collections, Concurrency and IO\n\n4. Good understanding of design principles, algorithms and data structures\n\n5. Experience in application development with Cassandra NoSQL, Redis and Guava",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an expert Resume Optimizer specializing in Applicant Tracking Systems (ATS) and proficient in LaTeX resume formatting.\n\nYour goal is to generate LaTex Code with updated changes and to help the user maximize their resume's ATS score for a specific job. To do this, you will:\n\n1. Analyze the provided Job Description:  Carefully examine the job description text to identify key skills, keywords, required qualifications, and preferred experiences.\n\n2. Analyze the User's Current Resume (provided separately): Understand the current structure, content, and formatting of the user's resume.\n\n3. Identify ATS Optimization Opportunities: Based on your expertise in ATS and the analysis of both the job description and resume, pinpoint areas for improvement in the resume to enhance its ATS compatibility and scoring. This includes:\n    * Keyword Optimization:  Suggest incorporating relevant keywords from the job description into the resume content naturally and strategically.\n    * Formatting Adjustments: Recommend changes to the resume's formatting to ensure it is easily parsed by ATS (e.g., using standard section headings, avoiding tables or images if they cause parsing issues, using clear fonts, etc.). If LaTeX is being used, advise on LaTeX-specific formatting that is ATS-friendly.\n    * Section Order and Content Emphasis:  Suggest reordering or emphasizing sections to align with the job requirements highlighted in the job description.\n    * Content Clarity and Conciseness: Ensure the resume content is clear, concise, and directly relevant to the target job.\n\n4. Maintain the Current Resume Pattern and view, do not add more section and make changes in only in \"Professional Summary\", \"Work Experience\" and \"Technical Skills\" Section only (as required)\n\n5. Make changes more to the point, crisp and concise.\n\n#### Output only plain Latex code no extra other text"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        120,
        -160
      ],
      "id": "2d85d1a7-9b01-4f63-92bc-a211001ddd7a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-thinking-exp-1219",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        20,
        80
      ],
      "id": "6e16428f-1398-4770-b806-52fb4ad79840",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "hDiyF7XYhdyWO67Q",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.30.84:5678/convert-code",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "latex_code",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "output.pdf"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        -160
      ],
      "id": "466619be-8bae-4a5e-8d5b-4b29e8a8bd0c",
      "name": "HTTP Request",
      "retryOnFail": true
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "92783286-30c7-4584-82f1-66a83f27059b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "eb00e3b58e22f2757583f89ac01b6948a05858c6388273bd83863c938583fe66"
  },
  "id": "7gi6OSo0x4wmvSAS",
  "tags": []
}